{% extends 'ag_base/base.html.twig' %}

{% block stylesheets %}
    <!-- bootstrap 3.0.2 -->
    <link href="{{ app.asset_path }}/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- font Awesome -->
    <link href="{{ app.asset_path }}/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="{{ app.asset_path }}/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <!-- Morris chart -->
    <link href="{{ app.asset_path }}/css/morris/morris.css" rel="stylesheet" type="text/css" />
    <!-- jvectormap -->
    <link href="{{ app.asset_path }}/css/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <!-- DATA TABLES -->
    <link href="{{ app.asset_path }}/css/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />    
    <!-- bootstrap wysihtml5 - text editor -->
    <link href="{{ app.asset_path }}/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />
    <!-- Theme style -->
    <link href="{{ app.asset_path }}/css/AdminLTE.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

{% endblock %}

{% block body_params %}class="skin-blue"{% endblock %}

{% block header %}
{% include 'ag_header.html.twig' %}
{% endblock %}

{% block container %}
{% endblock %}

{% block footer %}
{% include 'ag_footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    <!-- jQuery 2.0.2 -->
    <script src="{{ app.asset_path }}/js/plugins/jquery-2.0.2/jquery.min.js"></script>
    <!-- jQuery UI 1.10.3 -->
    <script src="{{ app.asset_path }}/js/jquery-ui-1.10.3.min.js" type="text/javascript"></script>
    <!-- Bootstrap -->
    <script src="{{ app.asset_path }}/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- Morris.js charts -->
    <script src="{{ app.asset_path }}/js/raphael.min.js"></script>
    <script src="{{ app.asset_path }}/js/plugins/morris/morris.min.js" type="text/javascript"></script>
    <!-- Sparkline -->
    <script src="{{ app.asset_path }}/js/plugins/sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
    <!-- jvectormap -->
    <script src="{{ app.asset_path }}/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" type="text/javascript"></script>
    <script src="{{ app.asset_path }}/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script>
    <!-- jQuery Knob Chart -->
    <script src="{{ app.asset_path }}/js/plugins/jqueryKnob/jquery.knob.js" type="text/javascript"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="{{ app.asset_path }}/js/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script>
    <!-- iCheck -->
    <script src="{{ app.asset_path }}/js/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
    <!-- DATA TABES SCRIPT -->
    <script src="{{ app.asset_path }}/js/plugins/datatables/jquery.dataTables.js" type="text/javascript"></script>
    <script src="{{ app.asset_path }}/js/plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>
    <!-- AdminLTE App -->
    <script src="{{ app.asset_path }}/js/AdminLTE/app.js" type="text/javascript"></script>

    <!-- Combined with apache -->
    <!--<script src="{{ app.asset_path }}/dashboard.combined.js"></script>-->

    <!-- Dashboard scripts -->
    <script src="{{ app.modules_path }}/dashboard/js/scripts.js"></script>

{% endblock %}
