{% extends "layout.twig" %}

{% block menu %} 
    {% include 'includes/menu.twig' with {'option': 'catalog'} %}
{% endblock %}

{% block title %}Catálogo - Uniformes Escolares Bodeven{% endblock %}

{% block extra_stylesheet %}
    <style>
        ul{list-style: none}
        a.list-group-item {text-decoration: none;color: #555;}a.list-group-item:hover, a.list-group-item:focus {background-color: #f5f5f5;}.list-group-item:first-child {border-top-left-radius: 4px;border-top-right-radius: 4px;}.list-group-item:last-child {border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;}.list-group-item {position: relative;display: block;padding: 10px 15px;margin-bottom: -1px;background-color: #fff;border: 1px solid #ddd;}.ratings {color: #d17581;padding-left: 10px;padding-right: 10px;}
    </style>
    <style type="text/css">
        .thumbnail{height:30em; margin-bottom: 10px; cursor: pointer}.thumbnail:hover, .thumbnail:focus{border-color: #006dcc; text-decoration: none}
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            $("span").tooltip();
        });
    </script>
{% endblock %}
{% block content %}
    <h1 class="page-header">Catálogo</h1>
    {% include 'ag_alerts.html.twig' %}
    <div class="row">
        <div class="col-12 col-md-3 col-lg-3">
            {#<p class="lead">Productos</p>#}
            {#<div class="list-group">#}
                {#<div class="input-group">#}
                    {#<input type="search"#}
                           {#id="search"#}
                           {#class="list-group-item form-control"#}
                           {#ng-model="q"#}
                           {#placeholder="Buscar..."#}
                           {#title="Ingrese la categoría, proveedor o producto.">#}
                            {#<span class="input-group-btn">#}
                                {#<button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i>#}
                                {#</button>#}
                            {#</span>#}
                {#</div>#}
            {#</div>#}
            <ul class="list-group">
                    <li>
                        <a class="list-group-item {% if category_id == null and provider_id == null  %}active{% endif %}" href="{{ path('catalog') }}">Todos</a>
                    </li>
            </ul>
            <p class="lead">Categorías</p>
            <ul class="list-group">
                {% for category in categories %}
                    <li>
                        <a class="list-group-item {% if category_id != null and category.id == category_id  %}active{% endif %}" href="{{ path('catalog', {category: category.id})}}">{{category.name}}</a>
                    </li>
                {% endfor %}
            </ul>
            <p class="lead">Proveedores</p>
            <ul class="list-group">
                {% for provider in providers %}
                    <li>
                        <a class="list-group-item {% if provider_id != null and provider.id == provider_id  %}active{% endif %}" href="{{ path('catalog', {provider: provider.id})}}">{{provider.name}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <p></p>
        <div class="col-12 col-md-9 col-lg-9">
            <!--<div class="row carousel-holder">
                <div class="span9">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="holder.js/870x300" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="holder.js/870x300" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="holder.js/870x300" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-5x icon-white icon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-5x icon-white icon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>-->
            <div class="row">
                {% if products == null %}
                    <div class="box box-info">
                        <div class="box-header">
                            <h2 class="box-title">No hay productos.</h2>
                        </div>
                    </div>
                {% endif %}
                {% for product in products %}
                    <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                        <a class="thumbnail" href="{{ path('catalog_item', { id: product.id }) }}">
                            <img src="{{product.image}}" alt="Sin imagen" style="width:300px;height:200px">
                            <div class="caption">
                                <h4 class="pull-right">BsF. {{product.price}}</h4>
                                <h4>{{product.name}}</h4>
                                {% if product.colors != null %}
                                    <p><b>Colores:</b>
                                        {% for color in product.colors %}
                                            <span title="{{ color.name }}"
                                                   style="background-color:{{ color.color_hex }};width:2em;height:1.5em;border:1px solid gray;display:inline-block;margin-right:0.25em;margin-left: 0.25em;top: 0.4em;position: relative">
                                            </span>
                                        {% endfor %}
                                    </p>
                                {% else %}
                                    <p><b class="text-danger">Sin colores</b></p>
                                {% endif %}
                                {% if product.sizes != null %}
                                    <p><b>Tallas:</b>
                                        {% for size in product.sizes %}
                                            <span for="size-{{ size.id }}" title="{{ size.size }}"
                                                   style="width:2em;height:1.5em;border:1px solid #eee;display:inline-block;margin-right:0.25em;margin-left: 0.25em;position: relative">
                                                {{ size.size }}
                                            </span>
                                        {% endfor %}
                                    </p>
                                {% else %}
                                    <p><b class="text-danger">Sin Tallas</b></p>
                                {% endif %}
                                <p><b>Categoría: </b>{{product.category}}</p>
                                <p><b>Proveedor: </b>{{product.provider}}</p>
                            </div>
                            {#<div class="ratings">#}
                                {#<p class="pull-right">15 reviews</p>#}
                                {#<p>#}
                                    {#<span class="icon-star"></span>#}
                                    {#<span class="icon-star"></span>#}
                                    {#<span class="icon-star"></span>#}
                                    {#<span class="icon-star"></span>#}
                                    {#<span class="icon-star"></span>#}
                                {#</p>#}
                            {#</div>#}
                        </a>
                    </div>
                {% endfor %}
                <div class="row">&nbsp;</div>
                <div style="text-align: center">
                    {% if pages != null %}
                        <ul class="pagination pagination-lg">
                            {% if numPage != 1 %}
                                <li>
                                    {% if category_id != null %}
                                        <a href="{{ path('catalog', {category: category_id, page: (numPage - 1)}) }}">&laquo;</a>
                                    {% elseif provider_id != null %}
                                        <a href="{{ path('catalog', {provider: provider_id, page: (numPage - 1)}) }}">&laquo;</a>
                                    {% else %}
                                        <a href="{{ path('catalog', {page: (numPage - 1)}) }}">&laquo;</a>
                                    {% endif %}
                                </li>
                            {% endif %}
                            {% for page in pages %}
                                {% if category_id != null %}
                                    <li {% if numPage == page %}class="active"{% endif %}>
                                        <a href="{{ path('catalog', {category: category_id, page: page}) }}">{{ page }}</a>
                                    </li>
                                {% elseif provider_id != null %}
                                    <li {% if numPage == page %}class="active"{% endif %}>
                                        <a href="{{ path('catalog', {provider: provider_id, page: page}) }}">{{ page }}</a>
                                    </li>
                                {% else %}
                                    <li {% if numPage == page %}class="active"{% endif %}>
                                        <a href="{{ path('catalog', {page: page}) }}">{{ page }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if numPage != lastPage and numPage < lastPage %}
                                <li>
                                    {% if category_id != null %}
                                        <a href="{{ path('catalog', {category: category_id, page: lastPage}) }}">{{ lastPage }}</a>
                                        <a href="{{ path('catalog', {category: category_id, page: (numPage + 1)}) }}">&raquo;</a>
                                    {% elseif provider_id != null %}
                                        <a href="{{ path('catalog', {provider: provider_id, page: lastPage}) }}">{{ lastPage }}</a>
                                        <a href="{{ path('catalog', {provider: provider_id, page: (numPage + 1)}) }}">&raquo;</a>
                                    {% else %}
                                        <a href="{{ path('catalog', {page: lastPage}) }}">{{ lastPage }}</a>
                                        <a href="{{ path('catalog', {page: (numPage + 1)}) }}">&raquo;</a>
                                    {% endif %}
                                </li>
                            {% else %}
                                <li class="active">
                                    {% if category_id != null %}
                                        <a href="{{ path('catalog', {category: category_id, page: lastPage}) }}">{{ lastPage }}</a>
                                    {% elseif provider_id != null %}
                                        <a href="{{ path('catalog', {provider: provider_id, page: lastPage}) }}">{{ lastPage }}</a>
                                    {% else %}
                                        <a href="{{ path('catalog', {page: lastPage}) }}">{{ lastPage }}</a>
                                    {% endif %}
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="row">&nbsp;</div><div class="row">&nbsp;</div>
        </div>
    </div>
{% endblock %}