{% extends "layout.twig" %}

{% block menu %} 
    {% include 'includes/menu.twig' with {'option': 'cart'} %}
{% endblock %}

{% block title %}Pedido - Uniformes Escolares Bodeven{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <!-- page script -->
    <script type="text/javascript">
        function confirm_delete(){
            if(!confirm("¿Realmente desea eliminar del pedido?")) {
                return false;
            }
        }
    </script>
{% endblock %}

{% block content %}
    <h1 class="page-header">Pedido</h1>

    <div class="row">
        {% include 'ag_alerts.html.twig' %}
        {% if products == null %}
            <div class="col-lg-12">
                <div class="jumbotron">
                    <h4>No hay productos en el pedido</h4>
                </div>
            </div>
        {% else %}
            <div class="col-md-7 col-lg-7">
                <div class="box box-info" style="padding: 10px">
                    <div class="box-header">
                        <h4 class="box-title">Items</h4>
                    </div>
                    <div class="box-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Imagen</th>
                                    <th>Nombre</th>
                                    <th>Color</th>
                                    <th>Talla</th>
                                    <th>Cant.</th>
                                    <th>Monto</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for product in products %}
                                <tr>
                                    <td style="width: 30px">
                                        {{ product.id }}
                                    </td>
                                    <td style="width: 50px">
                                        <img src="{{ product.image }}" class="img-responsive" style="width: 50px">
                                    </td>
                                    <td>
                                        {{ product.name }}
                                    </td>
                                    <td>
                                        <div style="background-color:{{ product.color }};width:3em;height:1.5em;border:1px solid #eee;display:inline-block;margin-right:1em;margin-left: 1.3em;"></div>
                                    </td>
                                    <td>
                                        {{ product.size }}
                                    </td>
                                    <td style="width: 30px">
                                        {{ product.count }}x{{ product.price }}
                                    </td>
                                    <td style="width: 30px">
                                        {{ (product.count * product.price) }}
                                    </td>
                                    <td style="width: 130px">
                                        {% if product.count > 1 %}
                                            <form action="{{ path('product_minus') }}" method="post" style="width: 34px; display: inline-block">
                                                <input type="hidden" name="product_id" value="{{ product.id }}">
                                                <input type="hidden" name="color" value="{{ product.color }}">
                                                <input type="hidden" name="size" value="{{ product.size }}">
                                                <button type="submit" class="btn btn-default" style="width: 34px; display: inline-block">-</button>
                                            </form>
                                        {% endif %}
                                        <form action="{{ path('product_plus') }}" method="post" style="width: 34px; display: inline-block">
                                            <input type="hidden" name="product_id" value="{{ product.id }}">
                                            <input type="hidden" name="color" value="{{ product.color }}">
                                            <input type="hidden" name="size" value="{{ product.size }}">
                                            <button type="submit" class="btn btn-default" style="width: 34px">+</button>
                                        </form>
                                        <form action="{{ path('product_remove') }}" method="post" style="width: 34px; display: inline-block" onsubmit="return confirm_delete();">
                                            <input type="hidden" name="product_id" value="{{ product.id }}">
                                            <input type="hidden" name="color" value="{{ product.color }}">
                                            <input type="hidden" name="size" value="{{ product.size }}">
                                            <button type="submit" class="btn btn-default" style="width: 34px">x</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="5"></th>
                                    <th>Total</th>
                                    <th>{{ total_mount }}</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-lg-5">
                <div class="box box-info" style="padding: 10px">
                    <div class="box-header">
                        <h4 class="box-title">Enviar pedido</h4>
                    </div>
                    {{ form_start(form, {'method': 'POST'}) }}
                        {{ form_errors(form) }}
                        <div class="box-body">
                            <div class="callout callout-info">
                                <button type="button" class="close" onclick="$('.callout').fadeOut(2000)">×</button>
                                <h4>Enviar mi pedido</h4>
                                <p>Toda la información es requerida para la petición del pedido y hacer todos los trámites.</p>
                                <p class="text-info"><a href="{{ path('contact') }}">Cualquier duda ponerse en contacto con nosotros.</a></p>
                            </div>
                            <div class='form-group'>
                                {{ form_label(form.ci, "Cédula de Identidad:") }}
                                {{ form_widget(form.ci, { attr: { 'class': 'form-control' }}) }}
                            </div>
                            <div class='form-group'>
                                {{ form_label(form.nombres, "Nombres:") }}
                                {{ form_widget(form.nombres, { attr: { 'class': 'form-control' }}) }}
                            </div>
                            <div class='form-group'>
                                {{ form_label(form.apellidos, "Apellidos:") }}
                                {{ form_widget(form.apellidos, { attr: { 'class': 'form-control' }}) }}
                            </div>
                            <div class='form-group'>
                                {{ form_label(form.correo, "Correo electrónico:") }}
                                {{ form_widget(form.correo, { attr: { 'class': 'form-control' }}) }}
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Enviar pedido</button>
                        </div>
                        {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}