{% extends 'layout/base.twig' %}

{% block stylesheets %}
    <!-- bootstrap 3.0.2 -->
    <link href="{{ app.asset_path }}/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- font Awesome -->
    <link href="{{ app.asset_path }}/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="{{ app.asset_path }}/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <!-- DATA TABLES -->
    <link href="{{ app.asset_path }}/css/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />    
    <!-- Theme style -->
    <link href="{{ app.asset_path }}/css/AdminLTE.css" rel="stylesheet" type="text/css" />
    <!-- Frontend Styles -->
    <link href="{{ app.modules_path }}/frontend/css/styles.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <style>.footer-custom{background-color: ghostwhite;padding-top:20px;border: 1px solid #eee;}.footer-custom .list-inline {padding-left: 0; list-style: none; text-align: center;}.footer-custom .list-inline li:first-child{padding-left: 0;}.footer-custom .list-inline li{display: inline-block; padding-right: 5px; padding-left: 5px;}.footer-custom .copyright{padding-top:10px; color:#444; text-align:center}</style>

    {% block extra_stylesheet %}{% endblock %}

{% endblock %}

{% block body_params %}class="skin-blue"{% endblock %}

{% block menu %}
    {% include 'layout/menu.twig' %}
{% endblock %}

{% block container %}
    <div class="wrapper row-offcanvas row-offcanvas-left">
        <div class="container">
            <div class="row-fluid col-12 col-md-12 col-sm-12 col-lg-12">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'layout/footer.twig' %}
{% endblock %}

{% block javascripts %}
    <!-- jQuery 2.0.2 -->
    <script src="{{ app.asset_path }}/js/jquery.min.js"></script>
    <!-- jQuery UI 1.10.3 -->
    <script src="{{ app.asset_path }}/js/jquery-ui-1.10.3.min.js" type="text/javascript"></script>
    <!-- Bootstrap -->
    <script src="{{ app.asset_path }}/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- Sparkline -->
    <script src="{{ app.asset_path }}/js/plugins/sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
    <!-- iCheck -->
    <script src="{{ app.asset_path }}/js/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
    <!-- DATA TABES SCRIPT -->
    <script src="{{ app.asset_path }}/js/plugins/datatables/jquery.dataTables.js" type="text/javascript"></script>
    <script src="{{ app.asset_path }}/js/plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>
    <!-- AdminLTE App -->
    <script src="{{ app.asset_path }}/js/AdminLTE/app.js" type="text/javascript"></script>
    
    {#<script src="{{ app.asset_path }}/js/frontend.combined.js"></script>#}
{% endblock %}
