{% extends "layout.twig" %}

{% block menu %} 
    {% include 'includes/menu.twig' with {'option': 'contact'} %}
{% endblock %}

{% block title %}Contáctanos - Uniformes Escolares Bodeven{% endblock %}

{% block content %}
    <h2 class="page-header">Contáctanos</h2>
    <div class="row">
        <div class="col-12 col-md-12 col-sm-12 col-lg-12">
            {% include 'ag_alerts.html.twig' %}
        </div>
        <div class="col-12 col-md-12 col-sm-12 col-lg-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3923.0707254850277!2d-66.87700870000003!3d10.495090950000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c2a591fcd62e307%3A0x263994c5ace47e6f!2sSabana+Grande!5e0!3m2!1ses!2sve!4v1400704472409" frameborder="0" style="border:0;width:100%;height:350px"></iframe>
        </div>
        {#<div class="col-12 col-md-6 col-sm-6 col-lg-6">
            <div class="box box-info" style="padding: 10px">
                <div class="box-header">
                    <h3 class="box-title">Uniformes Escolares Bodeven</h3>
                </div>
                <div class="box-body">
                    <!--<div class="row-fluid">
                        <h4 style="border-bottom: 2px solid #eee">Nuestros números</h4>
                        <p></p>
                    </div>-->
                    <div class="row-fluid">
                        <h4 style="border-bottom: 2px solid #eee">Nuestra cuentas bancarias</h4>
                        <p><b>Banco Banplus</b></p>
                        <p><b>Nº Cuenta:</b> 0174012625126064872</p>
                        <!--<p><b>Banco Activo</b></p>
                        <p></p>-->
                    </div>
                </div>
            </div>
        </div>#}
        <div class="col-12 col-md-6 col-sm-6 col-lg-6">
            <div class="box box-info" style="padding: 10px">
                <div class="box-header">
                    <h3 class="box-title">Envíanos tu mensaje</h3>
                </div>
                <form id="contactForm" method="post">
                    <div class="box-body">
                        <div class="control-group" style="margin: 0 auto;">
                            <label class="control-label" for="nombre">Nombre:</label>
                            <div class="controls">
                                <input type="text"
                                       name="nombre"
                                       class="form-control"
                                       id="nombre"
                                       title="Ingrese su nombre."
                                       placeholder="Ingrese su nombre..."
                                       value=""
                                       autofocus
                                       required>
                            </div>
                        </div>
                        <div class="control-group" style="margin: 0 auto;">
                            <label class="control-label" for="asunto">Asunto:</label>
                            <div class="controls">
                                <input type="text"
                                       name="asunto"
                                       class="form-control"
                                       id="asunto"
                                       title="Ingrese el motivo del mensaje."
                                       placeholder="Ingrese el motivo del mensaje..."
                                       value=""
                                       required>
                            </div>
                        </div>
                        <div class="control-group" style="margin: 0 auto;">
                            <label class="control-label" for="correo">Correo:</label>
                            <div class="controls">
                                <input type="email"
                                       name="correo"
                                       class="form-control"
                                       id="correo"
                                       title="Ingrese su correo electrónico."
                                       placeholder="Ingrese su correo electrónico..."
                                       value=""
                                       required>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="mensaje">Mensaje:</label>
                            <div class="controls">
                                <textarea rows="3"
                                          name="mensaje"
                                          class="form-control"
                                          id="mensaje"
                                          title="Ingrese su mensaje."
                                          placeholder="Ingrese su mensaje..."
                                          required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary"><b>Enviar</b></button>
                        <div class="loading-form" style="display: inline-block"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            $("#contactForm").submit( function(event){
                $('.loading-form').html('Cargando...');
                //event.preventDefault();
            });
        });
    </script>
{% endblock %}