ul {
    list-style: none
}
a.list-group-item {
    color: #555;
    text-decoration: none;
}
a.list-group-item:hover, 
a.list-group-item:focus {
    background-color: #f5f5f5;
}
.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.list-group-item:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.list-group-item {
    background-color: #fff;
    border: 1px solid #ddd;
    display: block;
    margin-bottom: -1px;
    padding: 10px 15px;
    position: relative;
}
.ratings {
    color: #d17581;
    padding-left: 10px;
    padding-right: 10px;
}
.thumbnail{
    cursor: pointer
    height:30em; 
    margin-bottom: 10px; 
}
.thumbnail:hover, 
.thumbnail:focus {
    border-color: #006dcc; 
    text-decoration: none
}