{% extends "layout.twig" %}

{% block menu %} 
    {% include 'includes/menu.twig' with {'option': 'about'} %}
{% endblock %}

{% block title %}Nosotros - Uniformes Escolares Bodeven{% endblock %}

{% block extra_stylesheet %}
    <style>
        #image {
            margin-top: 65px;
        }

        .lead {
            font-size: 18px;
            font-weight: 400;
        }

        .intro-header {
            padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
            padding-bottom: 50px;
            color: #f8f8f8;
            background: url(../img/intro-bg.jpg) no-repeat center center;
            background-size: cover;
            text-align: center;
        }

        .intro-message {
            position: relative;
            padding-top: 20%;
            padding-bottom: 20%;
        }

        .intro-message > h1 {
            margin: 0;
            font-size: 5em;
            text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
        }

        .intro-divider {
            width: 400px;
            border-top: 1px solid #f8f8f8;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        }

        .intro-message > h3 {
            text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
        }

        @media (max-width: 767px) {
            .intro-message {
                padding-bottom: 15%;
            }

            .intro-message > h1 {
                font-size: 3em;
            }

            ul.intro-social-buttons > li {
                display: block;
                margin-bottom: 20px;
                padding: 0;
            }

            ul.intro-social-buttons > li:last-child {
                margin-bottom: 0;
            }

            .intro-divider {
                width: 100%;
            }
        }

        .network-name {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 2px;
        }

        .content-section-a {
            background-color: #f8f8f8;
            padding: 50px 0;
        }
        .content-section-b {
            border-top: 1px solid #e7e7e7;
            border-bottom: 1px solid #e7e7e7;
            padding: 50px 0;
        }

        .section-heading {
            margin-bottom: 30px;
        }

        .section-heading-spacer {
            border-top: 3px solid #e7e7e7;
            width: 100%;
            float: left;
        }

        .banner {
            padding: 100px 0;
            color: #f8f8f8;
            background: url(../img/banner-bg.jpg) no-repeat center center;
            background-size: cover;
        }

        .banner h2 {
            margin: 0;
            text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
            font-size: 3em;
        }

        .banner ul {
            margin-bottom: 0;
        }

        .banner-social-buttons {
            float: right;
            margin-top: 0;
        }

        @media (max-width: 1199px) {
            ul.banner-social-buttons {
                float: left;
                margin-top: 15px;
            }
        }

        @media (max-width: 767px) {
            .banner h2 {
                margin: 0;
                text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
                font-size: 3em;
            }

            ul.banner-social-buttons > li {
                display: block;
                margin-bottom: 20px;
                padding: 0;
            }

            ul.banner-social-buttons > li:last-child {
                margin-bottom: 0;
            }
        }

        footer {
            background-color: #f8f8f8;
            padding: 50px 0;
        }

        p.copyright {
            margin: 15px 0 0;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-lg-offset-1 col-sm-6 col-xs-12" style="margin-top:5em">
            <img class="img-responsive" src="{{ app.asset_path }}/img/bodeven/ipad.png" alt="">
        </div>
        <div class="col-lg-5 col-sm-6 col-xs-12" style="margin-top:5em">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">¿Quiénes somos?</h2>
            <p class="lead" align="justify">Empresa con 3 años en el mercado en venta de uniformes escolares, con Sede principal
                en la ciudad de Caracas, brindando y ofreciendo productos de calidad principalmente
                en: comercialización de uniformes escolares de las mejores marcas en este mercado,
                asegurando la calidad de la mercancía ofrecida, así como también el servicio de bordado
                de logos o distintivos de instituciones, estableciendo precios justos basadas en estudios
                adecuados del mercado.</p>
            <hr class="section-heading-spacer">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-1 col-sm-6 col-xs-12">
            <img class="img-responsive" src="http://bodeven.com.ve/web/resources/uploads/06-08-2014/Mision.jpg" alt="">
        </div>
        <div class="col-lg-5 col-sm-6 col-xs-12" style="margin-top: 20px;">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Misión</h2>
            <p class="lead" align="justify">Vestir al futuro de Venezuela con productos de excelente calidad, procurando en todo
                momento la satisfacción de nuestros clientes, el beneficio a la sociedad, honrando
                nuestros compromisos con los proveedores y el beneficio de nuestros empleados.</p>
            <hr class="section-heading-spacer">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-1 col-sm-6 col-xs-12" style="top:5em">
            <img class="img-responsive" src="http://bodeven.com.ve/web/resources/uploads/06-08-2014/Vision.jpg" alt="">
        </div>
        <div class="col-lg-5 col-sm-6 col-xs-12" style="margin-top:3.3em">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Visión</h2>
            <p class="lead" align="justify">Ser la Empresa líder en posicionamiento y participación en ventas de Uniformes Escolares,
                comercializando los mejores productos que ofrezcan las mejores y más solidas compañías que
                los confeccionan en el mercado nacional e incrementando las operaciones comerciales a través
                del fortalecimiento de la figura de las sucursales y la atención personalizada de pequeños clientes
                para obtener mayor imagen y prestigio, que brinde confianza, sea fuerte, de apoyo para el
                progreso de la región y que verdaderamente sea garante de la oferta permanente a los clientes
                que adquieran esos productos; asesorarlos en las operaciones y mantenerlos atendidos con
                excelencia, eficiencia y profesionalismo. Contamos con el mejor talento humano para ofrecerles
                respuesta inmediata a nuestros clientes.</p>
            <hr class="section-heading-spacer">
        </div>
    </div>
{% endblock %}