{% extends "layout.twig" %}

{% block menu %} 
    {% include 'includes/menu.twig' with {'option': 'home'} %}
{% endblock %}

{% block title %}Inicio - Uniformes Escolares Bodeven{% endblock %}

{% block content %}
    <h1 class="page-header"></h1>
    <div class="row-fluid">
        <div class="jumbotron">
            <div class="container">
                <div class="row-fluid">
                    <img class="col-12 col-md-5 col-lg-5 img-responsive" src="{{ app.asset_path }}/img/logo.png">
                    <div class="col-12 col-md-7 col-lg-7">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="box box-info">
                <div class="box-header">
                    <h2 class="box-title">¿Quiénes somos?</h2>
                </div>
                <div class="box-body">
                    <p align="justify"
                       {% if is_granted('ROLE_Programador') or is_granted('ROLE_Administrador') %}contenteditable="true"{% endif %}
                       >Empresa con 3 años en el mercado en venta de uniformes escolares, con Sede principal en la ciudad de Caracas, brindando y ofreciendo productos de calidad principalmente en: comercialización de uniformes...</p>
                    <p></p>
                    <p align="right"><a class="btn btn-primary" href="{{ path('about') }}" role="button">Ver más &raquo;</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-info">
                <div class="box-header">
                    <h2 class="box-title">Misión</h2>
                </div>
                <div class="box-body">
                    <p align="justify"
                       {% if is_granted('ROLE_Programador') or is_granted('ROLE_Administrador') %}contenteditable="true"{% endif %}
                       >Vestir al futuro de Venezuela con productos de excelente calidad, procurando en todo momento la satisfacción de nuestros clientes, el beneficio a la sociedad, honrando nuestros compromisos co los proveedores...</p>
                    <p></p>
                    <p align="right"><a class="btn btn-primary" href="{{ path('about') }}" role="button">Ver más &raquo;</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-info">
                <div class="box-header">
                    <h2 class="box-title">Visión</h2>
                </div>
                <div class="box-body">
                    <p align="justify"
                       {% if is_granted('ROLE_Programador') or is_granted('ROLE_Administrador') %}contenteditable="true"{% endif %}
                       >Ser la Empresa líder en posicionamiento y participación en ventas de Uniformes Escolares, comercializando los mejores productos que ofrezcan las mejores y más solidas compañías que los confeccionan...</p>
                    <p></p>
                    <p align="right"><a class="btn btn-primary" href="{{ path('about') }}" role="button">Ver más &raquo;</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}