<header class="header">
    <a href="{{ path('home') }}" class="logo">Horizonte</a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <ul class="nav pull-left">
            <li>
                <a href="{{ path('home') }}" {% if option is defined and option == 'home' %}class="active"{% endif %}>Inicio</a>
            </li>
            <li>
                <a href="{{ path('catalog') }}" {% if option is defined and option == 'catalog' %}class="active"{% endif %}>Catálogo</a>
            </li>
            <li>
                <a href="{{ path('about') }}" {% if option is defined and option == 'about' %}class="active"{% endif %}>Nosotros</a>
            </li>
            <li>
                <a href="{{ path('contact') }}" {% if option is defined and option == 'contact' %}class="active"{% endif %}>Contáctanos</a>
            </li>
            <li>
                <a href="{{ path('cart') }}"  {% if option is defined and option == 'cart' %}class="active"{% endif %}>
                    {{ app.cart.getProductsNumber() }}
                    <i class="glyphicon glyphicon-shopping-cart"></i> Pedido
                </a>
            </li>
            {% if is_granted('ROLE_Administrador') and product is defined %}
            	<li>
                    <a href="{{ path('products_edit', {id: product.id}) }}">Editar producto</a>
            	</li>
            {% endif %}
        </ul>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuario<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% if is_granted('ROLE_Administrador') or is_granted('ROLE_Programador') %}
                            <li>
                                <a href="{{ path('dashboard') }}">Panel de administración</a>
                            </li>
                        {% endif %}
                        {#<li>#}
                            {#<a href="#">Action</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="#">Another action</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="#">Something else here</a>#}
                        {#</li>#}
                        <li class="divider"></li>
                        <li class="dropdown-header">Cuenta</li>
                        <li>
                            <a href="#" id="miCuenta">Mi cuenta</a>
                        </li>
                        <li>
                            <a href="{{ path('logout') }}">Cerrar sesión</a>
                        </li>
                    </ul>
                </li>
            </ul>
        {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li {% if option is defined and option == 'login' %}class="active"{% endif %}>
                    <a href="{{ path('login') }}">Iniciar sesión</a>
                </li>
            </ul>
        {% endif %}
    </nav>
</header>