{% extends 'ag_base/backend.html.twig' %}

{% block title %}Actualizar URLs{% endblock %}

{% block body_params %}class="skin-blue"{% endblock %}

{% block container %}

    <div class="wrapper row-offcanvas row-offcanvas-left">

        {% include 'menu.html.twig' with {'option': 'update_urls'} %}

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">                
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Actualizar URLs
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">
                
                {% include 'ag_alerts.html.twig' %}

                <div class="row">
                    <div class="col-md-8">
                        {{ form_start(form, {'method': 'POST'}) }}
                            <div class="box box-info">
                                <div class="box-header">
                                    <h3 class="box-title"></h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <div class='form-group'>
                                        {{ form_label(form.old_url, "Vieja URL") }}
                                        {{ form_errors(form.old_url) }}
                                        {{ form_widget(form.old_url, { attr: { 'class': 'form-control' }}) }}
                                    </div>
                                    <div class='form-group'>
                                        {{ form_label(form.new_url, "Nueva URL") }}
                                        {{ form_errors(form.new_url) }}
                                        {{ form_widget(form.new_url, { attr: { 'class': 'form-control' }}) }}
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">Actualizar</button>
                                </div>
                            </div>
                            {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>

            </section><!-- /.content -->
        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->

{% endblock %}
