{% extends 'ag_base/backend.html.twig' %}

{% block body_params %}class="skin-blue"{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <!-- page script -->
    <script type="text/javascript">
        $(function() {
            $("#imagen_list").dataTable();
        });

        function confirm_delete(){
            if(!confirm("¿Realmente desea eliminar? ¡Esta acción no puede deshacer!")) {
                return false;
            }
        }

    </script>
{% endblock %}

{% block container %}

    <div class="wrapper row-offcanvas row-offcanvas-left">

        {% include 'menu.html.twig' with {'option': 'imagen_list'} %}

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">                
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Imágenes
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">

                <div class="row">
                    <div class="col-xs-12">

                        {% include 'ag_alerts.html.twig' %}

                        <div class="box">
                            <div class="box-header">
                                
                            </div><!-- /.box-header -->

                            <div class="box-body table-responsive">
                                <a class="btn btn-primary" href="{{ path('imagen_create') }}">Subir nueva</a><br /><br />
                                <div class="row" style="padding-left:20px">
                                    {% if rows == null %}
                                        <b>No hay imágenes</b>
                                    {% endif %}
                                    {% for row in rows %}
                                        <div class="panel col-12 col-md-4 col-lg-3">
                                            <div class="panel-body">
                                                <h4>{{ row.name }}</h4>
                                                <br/>
                                                <img class="img-responsive" src="{{ row.link }}">
                                                <br/>
                                                <div class="input-group">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-default" type="button">
                                                            <span class="glyphicon glyphicon-link"></span>
                                                        </button>
                                                    </span>
                                                    <input type="text" class="form-control" value="{{ row.link }}" readonly style="cursor: pointer">
                                                </div>
                                                <br />
                                                <a href="{{ path('imagen_edit', { id: row.id }) }}" class="btn btn-primary btn-xs">Editar</a>
                                                <a href="{{ path('imagen_delete', { id: row.id }) }}" onclick='return confirm_delete();' class="btn btn-danger btn-xs">Eliminar</a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div><!-- /.box-body -->
                        </div><!-- /.box -->
                    </div>
                </div>

            </section><!-- /.content -->
        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .panel {
            margin-right: 5px;
            min-height: 350px;
            max-height: 350px;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3) inset;
        }
    </style>
{% endblock %}