<h1 class="page-header">Pedido</h1>

<div class="row">
    <!-- Error, Success callout -->
    <div class="callout callout-{{callout.class}}" ng-if="callout.class">
        <button type="button" class="close" onclick="$('.callout').fadeOut(1000)">×</button>
        <h4 ng-if="callout.danger">Error</h4>
        <h4 ng-if="callout.success">Success</h4>
        <h4 ng-if="callout.info">Info</h4>
        <p ng-if="callout.message">{{ callout.message }}</p>
    </div>
    <!-- Products -->
    <div class="col-lg-12" ng-if="!products">
        <div class="jumbotron">
            <h4>No hay productos en el pedido</h4>
        </div>
    </div>
    
    <div class="col-md-7 col-lg-7" ng-if="products">
        <div class="box box-info" style="padding: 10px">
            <div class="box-header">
                <h4 class="box-title">Items</h4>
            </div>
            <div class="box-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th>Color</th>
                            <th>Talla</th>
                            <th>Cant.</th>
                            <th>Monto</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="product in products">
                        <td style="width: 30px">
                            {{ product.id }}
                        </td>
                        <td style="width: 50px">
                            <img src="{{ product.image }}" class="img-responsive" style="width: 50px">
                        </td>
                        <td>
                            {{ product.name }}
                        </td>
                        <td>
                            <div style="background-color:{{ product.color }};width:3em;height:1.5em;border:1px solid #eee;display:inline-block;margin-right:1em;margin-left: 1.3em;"></div>
                        </td>
                        <td>
                            {{ product.size }}
                        </td>
                        <td style="width: 30px">
                            {{ product.count }}x{{ product.price }}
                        </td>
                        <td style="width: 30px">
                            {{ (product.count * product.price) }}
                        </td>
                        <td style="width: 130px">
                            <!-- Plus product -->
                            <form 
                                style="width: 34px; display: inline-block"
                                ng-submit="minusProduct(product.id, product.color, product.size)">
                                <button type="submit" class="btn btn-default" style="width: 34px; display: inline-block">-</button>
                            </form>
                            <!-- Sumar -->
                            <form 
                                style="width: 34px; display: inline-block"
                                ng-submit="plusProduct(product.id, product.color, product.size)">
                                <button type="submit" class="btn btn-default" style="width: 34px">+</button>
                            </form>
                            <form 
                                style="width: 34px; display: inline-block" 
                                ng-submit="removeProduct(product.id, product.color, product.size)">
                                <button type="submit" class="btn btn-default" style="width: 34px">x</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="5"></th>
                            <th>Total</th>
                            <th>{{ total }}</th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-lg-5" ng-if="products">
        <div class="box box-info" style="padding: 10px">
            <div class="box-header">
                <h4 class="box-title">Enviar pedido</h4>
            </div>
            <form role="form" ng-submit="sendOrder()">
                <div class="box-body">
                    <div class="callout callout-info">
                        <button type="button" class="close" onclick="$('.callout').fadeOut(2000)">×</button>
                        <h4>Enviar mi pedido</h4>
                        <p>Toda la información es requerida para la petición del pedido y hacer todos los trámites.</p>
                        <p class="text-info"><a href="{{ path('contact') }}">Cualquier duda ponerse en contacto con nosotros.</a></p>
                    </div>
                    <div class='form-group'>
                        
                    </div>
                    <div class='form-group'>
                        
                    </div>
                    <div class='form-group'>
                        
                    </div>
                    <div class='form-group'>
                        
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Enviar pedido</button>
                </div>
            </form>
        </div>
    </div>
</div>