<!-- Extra styles -->
<style>
    @import url("modules/angularjs/css/catalog.css");
</style>
<!-- Content -->
<h1 class="page-header">Catálogo</h1>
<div class="row">
    <div class="col-12 col-sm-6 col-md-3 col-lg-3" id="menu-filters">
        <p class="lead">Productos</p>
        <div class="list-group">
            <div class="input-group">
                <input type="search"
                       id="search"
                       class="list-group-item form-control"
                       ng-model="filter.search"
                       placeholder="Ingrese busqueda..."
                       title="Ingrese la categoría, proveedor o producto.">
                        <span class="input-group-btn">
                            <button class="btn btn-default disabled" type="button"><i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
            </div>
        </div>
        <ul class="list-group">
            <li>
                <a 
                    class="list-group-item all" 
                    href="#" 
                    ng-click="showAll()">Todos</a>
            </li>
        </ul>
        <p class="lead">Categorías</p>
        <ul class="list-group">
            <li ng-repeat="(key, category) in categories">
                <a 
                    class="list-group-item" 
                    href="#"
                    ng-click="setCategory(category.name)">{{category.name}}</a>
            </li>
        </ul>
        <p class="lead">Proveedores</p>
        <ul class="list-group">
            <li ng-repeat="(key, provider) in providers">
                <a 
                    class="list-group-item" 
                    href="#"
                    ng-click="setProvider(provider.name)">{{provider.name}}</a>
            </li>
        </ul>
    </div>
    <p></p>
    <div class="col-12 col-md-9 col-lg-9">
        <div class="row">

            <!-- Error, Success callout -->
            <div class="callout callout-{{callout.class}}" ng-if="callout.class">
                <button type="button" class="close" ng-click="resetCallout()">×</button>
                <h4 ng-if="callout.danger">Error</h4>
                <h4 ng-if="callout.success">Success</h4>
                <h4 ng-if="callout.info">Info</h4>
                <p ng-if="callout.message">{{ callout.message }}</p>
            </div>
            
            <div class="box box-info" ng-if="!products">
                <div class="box-header">
                    <h2 class="box-title">No hay productos.</h2>
                </div>
            </div>
            <!-- Infinite scroll -->
            <div infinite-scroll='loadMore()' infinite-scroll-distance='6'>
                <!-- Products -->
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" ng-repeat="(key, product) in products | filter:filter.search | filter:filter.category | filter:filter.provider">
                    <a class="thumbnail" href="#/producto/{{ product.id }}">
                        <img 
                            ng-src="{{product.image}}" 
                            alt="Sin imagen" 
                            style="width:300px;height:200px">
                        <div class="caption">
                            <h4 class="pull-right">BsF. {{product.price}}</h4>
                            <h4>{{product.name}}</h4>
                            <!-- Colores -->
                            <p ng-if="product.colors"><b>Colores:</b>
                                <span 
                                    ng-repeat="color in product.colors"
                                    title="{{ color.name }}"
                                    style="background-color:{{ color.color_hex }};width:2em;height:1.5em;border:1px solid gray;display:inline-block;margin-right:0.25em;margin-left: 0.25em;top: 0.4em;position: relative">
                                </span>
                            </p>
                            <p ng-if="!product.colors">
                                <b class="text-danger">Sin colores</b>
                            </p>
                            <!-- Tallas -->
                            <p ng-if="product.sizes"><b>Tallas:</b>
                                <span
                                    ng-repeat="size in product.sizes" 
                                    for="size-{{ size.id }}" 
                                    title="{{ size.size }}"
                                    style="width:2em;height:1.5em;border:1px solid #eee;display:inline-block;margin-right:0.25em;margin-left: 0.25em;position: relative">
                                    {{ size.size }}
                                </span>
                            </p>
                            <p ng-if="!product.sizes"><b class="text-danger">Sin Tallas</b></p>
                            
                            <p><b>Categoría: </b>{{product.category}}</p>
                            <p><b>Proveedor: </b>{{product.provider}}</p>
                        </div>
                        <!--
                        <div class="ratings">
                            <p class="pull-right">15 reviews</p>
                            <p>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                                <span class="icon-star"></span>
                            </p>
                        </div>
                        -->
                    </a>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <!-- Pagination -->
        </div>
        <div class="row">&nbsp;</div><div class="row">&nbsp;</div>
    </div>
</div>

<!-- Custom JQuery functions -->
<script>
    $(function() {
        // Timeout
        setTimeout(function() {
            // Activate tooltips
            $("span").tooltip();
        }, 2500);

        // Remove default events on menu-filters
        setTimeout(function() {
            $('#menu-filters a').click(function (evt) {
                evt.preventDefault();
                
                if (!$(this).hasClass('all')) {
                    // Remove class active
                    $(this).parent().parent().find('a').removeClass('active');
                } else {
                    // Remove class active
                    $('#menu-filters a:not(.all)').removeClass('active');
                }
                
                $(this).addClass('active');
            });
        }, 1000);
    });
</script>