<!-- Extra styles -->
<style>
    @import url("../modules/angularjs/css/catalog.css");
</style>
<h1 class="page-header"></h1>
<div class="row">
    <div class="col-12 col-sm-2 col-md-2 col-lg-2">
        <!--<p class="lead">Ver categoría</p>-->
        <div class="list-group">
            <a href="#/catalogo" class="list-group-item">Volver al catálogo</a>
        </div>
    </div>
    <div class="col-12 col-sm-10 col-md-10 col-lg-10">
        <!-- Error, Success callout -->
        <div class="callout callout-{{callout.class}}" ng-if="callout.class">
            <button type="button" class="close" ng-click="resetCallout()">×</button>
            <h4 ng-if="callout.danger">Error</h4>
            <h4 ng-if="callout.success">Success</h4>
            <h4 ng-if="callout.info">Info</h4>
            <p ng-if="callout.message">{{ callout.message }}</p>
        </div>
        <!-- Product item -->
        <div class="row-fluid">
            <img class="col-12 col-sm-6 col-md-6 col-lg-6 img-responsive" ng-src="{{ product.image }}" style="margin-top:1em;max-height: 400px;max-width: 400px" alt="Sin imagen"/>
            <div class="col-12 col-sm-6 col-md-6col-lg-6">
                <h2>{{ product.name }} <small>BsF. {{ product.price }}</small></h2>
                <form id="order" role="form" ng-submit="addToCart()">
                    
                    <p ng-if="product.colors">
                        <b>Colores:</b><br>
                        <!-- Color -->
                        <label 
                            ng-repeat="color in product.colors"
                            for="color-{{ color.id }}" 
                            title="{{ color.name }}"
                            style="background-color:{{ color.color_hex }};width:3em;height:1.5em;border:1px solid #eee;display:inline-block;margin-right:1em;margin-left: 1.3em;">
                            <input 
                                type="radio" 
                                name="color" 
                                id="color-{{ color.id }}" 
                                ng-click="setColor(color.color_hex)" 
                                style="margin-left: -1.3em;margin-top: -1px;"
                                required="">
                        </label>
                    </p>
                    <p ng-if="!product.colors">
                        <b class="text-danger">Sin colores</b>
                    </p>
                    <p ng-if="product.sizes">
                        <b>Tallas:</b><br>
                        <!-- Sizes -->
                        <label
                            ng-repeat="size in product.sizes" 
                            for="size-{{ size.id }}" title="{{ size.size }}" 
                            style="width:3em;height:1.5em;border:1px solid #eee;display:inline-block;margin-right:1em;margin-left: 1.3em;">
                            <input 
                                type="radio" 
                                name="size" 
                                id="size-{{ size.id }}" 
                                ng-click="setSize(size.size)" 
                                style="margin-left: -1.3em;margin-top: -1px;"
                                required=""> {{ size.size }}
                        </label>
                    </p>
                    <p ng-if="!product.sizes">
                        <b class="text-danger">Sin Tallas</b>
                    </p>
                    <button 
                        type="button" 
                        id="minus" 
                        class="btn btn-default"
                        ng-click="minusCounter()">-</button>
                    <input 
                        type="number" 
                        id="item" 
                        ng-model="counter"
                        ng-change="changeCounter()" 
                        style="width:4em;margin-top:11.3px" 
                        required>
                    <button 
                        type="button" 
                        id="plus" 
                        class="btn btn-default"
                        ng-click="sumCounter()">+</button>
                    <button type="submit" class="btn btn-success">Añadir a mi pedido</button>
                </form>
            </div>
        </div>
    </div>
    <p></p>
    <p></p>
    <p></p>
    <div class="row-fluid">
        <div class="col-12 col-sm-2 col-md-2 col-lg-2">&nbsp;</div>
        <div class="col-12 col-sm-10 col-md-10 col-lg-10">
            <p class="lead" style="margin-top: 10px; margin-bottom: -10px">Productos relacionados</p>
            <hr>
            <!-- Related products -->
            <a 
                ng-repeat="related_product in related" 
                class="thumbnail col-12 col-sm-4 col-md-3 col-lg-3"
               href="#/producto/{{ related_product.id }}"
               style="margin-left:10px">
                <img 
                    ng-src="{{ related_product.image }}" 
                    alt="Sin imagen" 
                    style="height:100px">
                <div class="caption">
                    <h4 class="pull-right">BsF. {{ related_product.price }}</h4>
                    <h4>{{ related_product.name }}</h4>
                    <!-- Colores -->
                    <p ng-if="product.colors"><b>Colores:</b>
                        <span 
                            ng-repeat="color in product.colors"
                            title="{{ color.name }}"
                            style="background-color:{{ color.color_hex }};width:2em;height:1.5em;border:1px solid gray;display:inline-block;margin-right:0.25em;margin-left: 0.25em;top: 0.4em;position: relative">
                        </span>
                    </p>
                    <p ng-if="!product.colors">
                        <b class="text-danger">Sin colores</b>
                    </p>
                    <!-- Tallas -->
                    <p ng-if="product.sizes"><b>Tallas:</b>
                        <span
                            ng-repeat="size in product.sizes" 
                            for="size-{{ size.id }}" 
                            title="{{ size.size }}"
                            style="width:2em;height:1.5em;border:1px solid #eee;display:inline-block;margin-right:0.25em;margin-left: 0.25em;position: relative">
                            {{ size.size }}
                        </span>
                    </p>
                    <p ng-if="!product.sizes"><b class="text-danger">Sin Tallas</b></p>
                    <p><b>Categoría: </b>{{ related_product.category }}</p>
                    <p><b>Proveedor: </b>{{ related_product.provider }}</p>
                </div>
                <!--
                <div class="ratings">
                    <p class="pull-right">15 reviews</p>
                    <p>
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                        <span class="icon-star"></span>
                    </p>
                </div>-->
            </a>
            <p ng-if="!related">No hay productos relacionados</p>
        </div>
    </div>
</div>

<!-- Custom functions -->
<script>

    $('form').submit( function(event) {
        Pace.restart();
    });

    $(function() {
        $("span").tooltip();
    });
</script>