{% extends "layout.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ app.modules_path }}/angularjs/css/styles.css">
{% endblock %}

{% block title %}Horizonte{% endblock %}

{% block html_params %}ng-app="app"{% endblock %}

{% block menu %}
    {% include 'layout/menu.twig' %}
{% endblock %}

{% block footer %}
    {% include 'layout/footer.twig' %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    {#
	<!-- Angular Lib -->
	<script src="{{ app.asset_path }}/js/plugins/angular/angular.min.js"></script>
	<!-- Angular Route Lib -->
	<script src="{{ app.asset_path }}/js/plugins/angular-route/angular-route.min.js"></script>
    <!-- Infinite scroll -->
    <script src="{{ app.modules_path }}/angularjs/js/ng-infinite-scroll.js"></script>
    <!-- Vars -->
    <script>
        var TEMPLATES_PATH = '{{ app.modules_path }}/angularjs/templates';
    </script>

	<!-- Angular APP -->
	<script src="{{ app.modules_path }}/angularjs/js/app.js"></script>

    <!-- Config constants and routes -->
    <script src="{{ app.modules_path }}/angularjs/config/constants.js"></script>
    <script src="{{ app.modules_path }}/angularjs/config/routes.js"></script>

    <!-- Services -->
    <script src="{{ app.modules_path }}/angularjs/services/user.js"></script>
    <script src="{{ app.modules_path }}/angularjs/services/catalog.js"></script>

    <!-- Controllers -->
    <script src="{{ app.modules_path }}/angularjs/controllers/about.js"></script>
    <script src="{{ app.modules_path }}/angularjs/controllers/cart.js"></script>
    <script src="{{ app.modules_path }}/angularjs/controllers/catalog.js"></script>
    <script src="{{ app.modules_path }}/angularjs/controllers/contact.js"></script>
    <script src="{{ app.modules_path }}/angularjs/controllers/home.js"></script>
    <script src="{{ app.modules_path }}/angularjs/controllers/product.js"></script>
    <script src="{{ app.modules_path }}/angularjs/controllers/sign-in.js"></script>
    <script src="{{ app.modules_path }}/angularjs/controllers/sign-up.js"></script>
    #}
    <script>
        var TEMPLATES_PATH = '{{ app.modules_path }}/angularjs/templates';
    </script>
    <script src="{{ app.modules_path }}/../main.combined.js"></script>

{% endblock %}
