<div class="container">
    <div class="row-fluid col-12 col-md-12 col-sm-12 col-lg-12 footer-custom">
        <ul class="list-inline">
            <li>
                <a href="#/inicio">Inicio</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
                <a href="#/catalogo">Catálogo</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
                <a href="#/nosotros">Nosotros</a>
            </li>
            <li class="footer-menu-divider">&sdot;</li>
            <li>
                <a href="#/contactanos">Contáctanos</a>
            </li>
        </ul>
        <div class="copyright">
            <p>&copy; 2016 Silex Generator Dashboard <b>Ramón Serrano</b> <a href="mailto:ramon.calle.88@gmail.com">ramon.calle.88@gmail.com</a></p>
        </div>
    </div>
</div>