<header class="header">
    <a href="#/inicio" class="logo">Horizonte</a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <ul class="nav pull-left">
            <li>
                <a href="#/catalogo">Catálogo</a>
            </li>
            <li>
                <a href="#/nosotros">Nosotros</a>
            </li>
            <li>
                <a href="#/carrito">
                    <i class="glyphicon glyphicon-shopping-cart"></i> Pedido
                </a>
            </li>
            <li>
                <a href="#/contactanos">Contáctanos</a>
            </li>
        </ul>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuario<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% if is_granted('ROLE_Administrador') or is_granted('ROLE_Programador') %}
                            <li>
                                <a href="{{ path('dashboard') }}">Panel de administración</a>
                            </li>
                        {% endif %}
                        {#<li>#}
                        {#<a href="#">Action</a>#}
                        {#</li>#}
                        {#<li>#}
                        {#<a href="#">Another action</a>#}
                        {#</li>#}
                        {#<li>#}
                        {#<a href="#">Something else here</a>#}
                        {#</li>#}
                        <li class="divider"></li>
                        <li class="dropdown-header">Cuenta</li>
                        <li>
                            <a href="#" id="miCuenta">Mi cuenta</a>
                        </li>
                        <li>
                            <a href="{{ path('logout') }}">Cerrar sesión</a>
                        </li>
                    </ul>
                </li>
            </ul>
        {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ path('login') }}">Sign In</a>
                </li>
            </ul>
        {% endif %}
    </nav>
</header>